.TopMenu {
    display: inline-block;
    padding: 20px;
    padding-bottom: 30px;
}

.TopMenu ul {
    display: inline-block;
    background-color: gray;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 24px;
    font-family: 'Trebuchet MS';
}

.TopMenu li{
    float:right;    
}

.TopMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.TopMenu li a:hover {
    background-color: lightgrey;
    color: black;
}

.Account {
    display: block;
    /*padding: 20px;*/
}

.Account h1{
    margin: 0;
    font-size: 80px;
    font-family: 'Gloucester MT';
    padding-top: 20px;
    text-align: center;
}

.Account form{
    font-size: 20px;
    font-family: 'Lucida Console';
    padding: 25px 0 0 100px;
}

.Account input[type=text], input[type=password] {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit {
    background-color: gray;
    font-size: 32px;
    font-family: 'Trebuchet MS';
    color: white;
}

.Calendar h1, button{
    display: inline-block;
}

.Calendar h1 {
    font-family: Verdana;
    text-align: center;
    font-size: 32px;
    width: 42%;
}

.Calendar button{
    height: 60px;
    width: 60px;
    font-size: 48px;
    background-color: gray;
    color: black;
    border: 1px solid black;
}

#button1{
    margin-left: 25%;
}

.GridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: white;
    font-family: Arial;
    text-indent: 2%
}

.GridContainer .Day {
    height: 30px;
    background-color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 14px;
}

.GridContainer > .Active {
    height: 81px;
    width: 81px;
    background-color: dodgerblue;
}

.GridContainer > .Today {
    background-color: deepskyblue;
}

.GridContainer > .Active:hover {
    background-color: lightskyblue;
}

.Data {
    margin-left: 30%;
    background-color: dodgerblue;
    width: 40%;
    color: white;
    border-radius: 50px;
    font-family: Arial;
    padding-bottom: 15px;
}

.Data h1 {
    padding-top: 20px;
    font-family: Verdana;
    font-size: 40px;
    text-align: center;
}

.Data label{
    padding-left: 10px;
}

.Data input[type=text], input[type=number]{
    width: 75%;
    padding: 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.Data input[type=submit] {
    background-color: lightskyblue;
    font-size: 32px;
    font-family: 'Trebuchet MS';
    color: white;
    margin-left: 40%;
    border-radius: 10px;
    padding: 5px 10px;
}

.Breakdown h1 {
    font-family: 'Gloucester MT';
    text-align: center;
    font-size: 108px;
    margin: 0;
    padding: 0;
    top: 0;
    width: 48%;
    text-decoration: underline;
}

.Breakdown p {
    color: white;
    font-family: Tahoma;
    font-size: 24px;
}


#StartButton {
    background-color: gray;
    font-size: 24px;
    font-family: 'Trebuchet MS';
    color: white;
}

#EndButton {
    background-color: gray;
    font-size: 24px;
    font-family: 'Trebuchet MS';
    color: white;
}

#TotalTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#TotalTable td, #TotalTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

    #TotalTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #TotalTable tr:hover {
        background-color: #ddd;
    }

    #TotalTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }