.TopMenu ul{
    background-color: gray;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 24px;
    font-family: 'Trebuchet MS';
}

.TopMenu li{
    float:right;    
}

    .TopMenu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

        .TopMenu li a:hover {
            background-color: lightgrey;
            color: black;
        }

.Account form{
    font-size: 20px;
    font-family: monospace;
    padding: 25px 0 0 100px;
}

.Calendar h1{
    padding-left: 670px;
}


.GridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    padding-left: 450px;
    background-color: white;    
    height: 81px;
    width: 81px; 
    }
          
.GridContainer .Day {
    height: 30px;
    background-color: white;
    text-align: center;
}

.GridContainer .Day:hover {
    background-color: white;
    }

.GridContainer > .Empty {
    height: 81px;
    width: 81px;
    background-color: white;
    }

.GridContainer > .Active {
    height: 81px;
    width: 81px;
    background-color: dodgerblue;
}

.GridContainer > #Active:hover {
    background-color: lightskyblue;
}